.DS_Store
*.test.js
.prettierrc
.github
.template
.package-template
.nyc_output
.circleci
.commitlintrc.js
coverage
coverage.lcov
docs
src
babel.config.js
test
CONTRIBUTING.md
CODE_OF_CONDUCT.md
LICENCE